{% extends 'base.html' %}

{% load static %}

{% block title %}Список заказов{% endblock %}

{% block head %}
<div class="head">
    <div class="head-wrap">
        <a href="{% url 'base_url' %}" class="head-title">SuperView</a>
        <a href="{% url 'base_url' %}" class="head-subtitle">Интернет-магазин оптики</a>
    </div>
    <div class="head-bar">
        {% for type in data.types %}
            {% if type.active %}
                <a href="{% url 'type_url' type.engName %}" class="head-bar-button-{{ type.id }}-active">{{ type.name }}</a>
            {% else %}
                <a href="{% url 'type_url' type.engName %}" class="head-bar-button-{{ type.id }}">{{ type.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block content %}
    <div id="filter">
        <h4 id="filter-title">Фильтр</h4>
        <h4 id="filter-text">Подбор по параметрам</h4>
        <div id="filter-price">
            <h4 id="filter-price-text">Розничная цена</h4>
            <form action="filter" method="get" class="filter-price-form">
                <h4 id="filter-price-text-1">от</h4>
                <h4 id="filter-price-text-2">до</h4>
                {% if data.prices.priceMin == data.prices.priceMinAbsolute %}
                    <input id="filter-input-price-min" name="price_min" type="text" size="7" placeholder="{{ data.prices.priceMin }}">
                {% else %}
                    <input id="filter-input-price-min" name="price_min" type="text" size="7" value="{{ data.prices.priceMin }}">
                {% endif %}
                {% if data.prices.priceMax == data.prices.priceMaxAbsolute %}
                    <input id="filter-input-price-max" name="price_max" type="text" size="7" placeholder="{{ data.prices.priceMax }}">
                {% else %}
                    <input id="filter-input-price-max" name="price_max" type="text" size="7" value="{{ data.prices.priceMax }}">
                {% endif %}
                <input id="filter-price-submit" type="submit" value="применить">
            </form>
        </div>
    </div>
    <div id="box">
    {% for product in data.products %}
        <div class="card">
            <div class="card-image-wrap"><a href="{% url 'product_url' product.id %}"><img src="{% static product.link %}" alt="картинка" class="card-image"></a></div>
            <div class="card-title-wrap"><a href="{% url 'product_url' product.id %}" class="card-title">{{ product.title }}</a></div>
            <h4 class="card-price">{{ product.price }} ₽</h4>
            {% if product.cnt != '0' %}
                <h4 class="card-status-green">в наличии</h4>
            {% else %}
                <h4 class="card-status-red">раскупили</h4>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}