{% extends 'base.html' %}

{% load static %}

{% block title %}{{ data.product.title }}{% endblock %}

{% block head %}
<div class="head">
    <div class="head-wrap">
        <a href="{% url 'base_url' %}" class="head-title">SuperView</a>
        <a href="{% url 'base_url' %}" class="head-subtitle">Интернет-магазин оптики</a>
    </div>
    <div class="head-bar">
        {% for type in data.types %}
            {% if type.active %}
                <a href="{% url 'type_url' type.engName %}" class="head-bar-button-{{ type.id }}-active">{{ type.name }}</a>
            {% else %}
                <a href="{% url 'type_url' type.engName %}" class="head-bar-button-{{ type.id }}">{{ type.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="product">
        <div class="product-info">
            <h4 class="product-title">{{ data.product.title }}</h4>
            <div class="product-image-wrap"><img src="{% static data.product.link %}" alt="картинка" class="product-image"></div>
            <input type="radio" name="radio" id="product-params" checked>
            <input type="radio" name="radio" id="product-reviews">
            <div class="product-bar">
                <label for="product-params" class="product-params-text">Характеристики</label>
                <label for="product-reviews" class="product-reviews-text">Отзывы о товаре</label>
            </div>
            <table class="product-params">
                {% for param in data.params %}
                <tr class="product-param">
                    <td class="property-key">
                        <h4 class="property-key-text">{{ param.key }}</h4>
                        <h4 class="property-key-dots"></h4>
                    </td>
                    <td class="property-value">
                        {{ param.value }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="product-reviews">
                Здесь будут отзывы
            </div>
        </div>
        <div class="product-price-card">
            {% if data.product.cnt != '0' %}
                <h4 class="product-status-green">в наличии</h4>
            {% else %}
                <h4 class="product-status-red">раскупили</h4>
            {% endif %}
            <div class="product-price-block">
                <h4 class="product-price-text">Цена:</h4>
                <h4 class="product-price">{{ data.product.price }} ₽</h4>
            </div>
            {% if data.product.cnt != '0' %}
                <button class="product-to-cart-green" type="button">В корзину</button>
            {% else %}
                <span class="product-to-cart-grey">В корзину</span>
            {% endif %}
        </div>
    </div>
{% endblock %}