body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

.head {
    width: max-content;
    height: max-content;
    position: absolute;
    left: 30px;
    top: 30px;
}

.head-wrap {
    display: flex;
}

.head-title {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    color: rgb(68, 183, 42);
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
}

.head-subtitle {
    position: relative;
    left: -208px;
    top: 40px;
    font-size: 14px;
    font-weight: 300;
    color: black;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
}

.head-bar {
    display: flex;
    position: absolute;
    top: 100px;
    width: 1521px;
    height: 50px;
    transform: translateX(-46px);
}

.head-bar-button-1,
.head-bar-button-2,
.head-bar-button-3,
.head-bar-button-1-active,
.head-bar-button-2-active,
.head-bar-button-3-active {
    position: relative;
    left: 9px;
    top: 15px;
    transform: translateY(-30%);
    padding-top: 15px;
    width: 507px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.head-bar-button-1,
.head-bar-button-2,
.head-bar-button-3 {
    background-color: #0B58CE;
}

.head-bar-button-1:hover,
.head-bar-button-2:hover,
.head-bar-button-3:hover,
.head-bar-button-1-active,
.head-bar-button-2-active,
.head-bar-button-3-active {
    background-color: #9fd122;
}

#box {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    height: max-content;
    position: absolute;
    left: 375px;
    top: 200px;
    padding-bottom: 30px;
}

.card {
    width: 300px;
    height: 450px;
    border: groove 1px rgb(216, 216, 216);
    text-align: center;
    margin-left: 40px;
    margin-top: 30px;
}

.card-image-wrap {
    position: relative;
    width: 300px;
    height: 300px;
}

.card-image {
    scale: 60%;
    position: relative;
    left: -50%;
    top: 50%;
    transform: translate(42%, -75%);
}

.card-title-wrap {
    position: relative;
    width: 250px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.card-title {
    position: relative;
    line-height: 1.5;
    color: rgb(0, 107, 213);
    text-decoration: none;
}

.card-title:hover {
    color: rgb(121, 0, 213);
    text-decoration: underline;
}

.card-price {
    width: max-content;
    height: max-content;
    position: relative;
    margin-top: 15px;
    font-size: 22px;
    font-weight: 300;
    left: 50%;
    transform: translateX(-50%);
}

.card-status-green,
.card-status-red {
    width: max-content;
    height: max-content;
    position: relative;
    padding: 6px;
    margin-top: -15px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: white;
}

.card-status-green {
    background-color: #00B90E;
}

.card-status-red {
    background-color: #ff7200;
}

.product {
    display: flex;
    width: 1500px;
    position: absolute;
    top: 220px;
}

.product-info {
    width: 900px;
    height: 420px;
}

.product-title {
    position: relative;
    left: 30px;
    font-size: 28px;
    font-weight: 300;
}

.product-image-wrap {
    position: relative;
    top: -50px;
    width: 600px;
    height: 400px;
    left: 250px;
}

.product-image {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.product-bar {
    display: flex;
    width: 800px;
    height: 30px;
    position: relative;
    left: 30px;
    top: -60px;
}

.product-params-text,
.product-reviews-text {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    text-align: center;
    position: relative;
    color: white;
    background-color: #cfcdd8;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

.product-params-text:hover,
.product-reviews-text:hover,
#product-params:checked ~ .product-bar .product-params-text,
#product-reviews:checked ~ .product-bar .product-reviews-text {
    background-color: #9fd122;
}

[type="radio"], .product-params, .product-reviews {
    display: none;
}

#product-params:checked ~ .product-params,
#product-reviews:checked ~ .product-reviews {
    display: block;
}

.product-params {
    position: relative;
    left: 60px;
    border-spacing: 10px 15px;
}

.property-key {
    display: flex;
    width: 350px;
    height: 30px;
}

.property-key-text {
    position: relative;
    top: -15px;
    white-space: nowrap;
    height: 100%;
    font-weight: 300;
}

.property-key-dots {
    position: relative;
    left: 2%;
    width: 96%;
    height: 100%;
    border-top: dotted 2px grey;
}

.product-price-card {
    position: relative;
    width: 400px;
    height: 230px;
    left: 150px;
    top: 140px;
    border: solid #9fd122 5px;
    border-radius: 10px;
}

.product-status-green,
.product-status-red {
    width: max-content;
    height: max-content;
    position: relative;
    padding: 6px;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: white;
}

.product-status-green {
    background-color: #00B90E;
}

.product-status-red {
    background-color: #ff7200;
}

.product-price-block {
    display: flex;
    position: relative;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.product-price-text {
    position: relative;
    left: 90px;
    top: -7px;
    font-size: 18px;
    letter-spacing: 1px;
}

.product-price {
    position: relative;
    left: 100px;
    top: -20px;
    font-size: 24px;
    letter-spacing: 1px;
}

.product-to-cart {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    padding: 7px;
    color: white;
    font-size: 28px;
    font-weight: 300;
    background-color: #00B90E;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.product-to-cart:hover {
    background-color: #9fd122;
}

#filter {
    position: absolute;
    left: 30px;
    top: 230px;
    width: 300px;
    height: 185px;
    border: solid 1px #c1bdbd;
}

#filter-title {
    position: relative;
    text-align: center;
    transform: translateY(-75%);
    padding: 5px;
    font-size: 17px;
    font-weight: 300;
    background-color: #d0cccc
}

#filter-text {
    position: relative;
    text-align: center;
    transform: translateY(-110%);
    font-size: 17px;
    font-weight: 300;
}

#filter-price {
    transform: translateY(-25%);
    height: 90px;
    border-top: solid 1px #c1bdbd;
    border-bottom: solid 1px #c1bdbd;
}

#filter-price-text {
    position: relative;
    left: 20px;
    top: -10px;
    font-size: 17px;
    font-weight: 300;
}

#filter-price-text-1 {
    position: relative;
    left: 20px;
    top: -20px;
    font-size: 17px;
    font-weight: 300;
}

#filter-price-text-2 {
    position: relative;
    left: 150px;
    top: -63px;
    font-size: 17px;
    font-weight: 300;
}

#filter-input-price-min {
    position: relative;
    left: 50px;
    top: -108px;
    height: 20px;
}

#filter-input-price-max {
    position: relative;
    left: 95px;
    top: -108px;
    height: 20px;
}

#filter-price-submit {
    position: relative;
    left: 10px;
    top: -140px;
    width: 100px;
    padding: 5px;
    color: white;
    background-color: #00B90E;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

#filter-price-submit:hover {
    background-color: #9fd122;
}